# first exclude everything
**

# then include GeoRocket server (built with `./gradlew installDist`)
!georocket-server/build/install/georocket-server

# and exclude GeoRocket storage
georocket-server/build/install/georocket-server/storage
