.classpath
.DS_Store
.externalToolBuilders/
.gradle/
.project
.settings/
.vertx/
bin/
build/
node_modules/
src-gen/
gradle.properties
.idea/
*.iml
# IntelliJ Project Structure
/conf
/storage
/elasticsearch
