integration-tester:
  build: .
  command: standalone
  links:
    - georocket_standalone

georocket_standalone:
  image: georocket/georocket
  volumes:
    - ./conf/georocket_standalone:/usr/local/georocket-server/conf
